.btn {
    width: 170px;
    height: 60px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 425px) {
    .navbar {
        margin-bottom: 5rem;
    }

    .navbar .btn {
        width: 95px;
        height: 34px;
        font-size: 15px;
    }
}